.DS_store
.ipynb_checkpoints
Experimenting_with_grid_squares.ipynb
Initial_testing.ipynb
Downloading_satellite_images.ipynb
data/accidents/Accidents.csv
Accidents.csv
model2_split/
model3_images/
model4_images/
*.xcf